@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-logo {
  width: 10vw;
}

.gradient-subtitle {
  font-size: 3vw;
  white-space: pre-line;
  background: linear-gradient(190deg, #e5142c 0%, #f49622 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: underline;
}
