

body {
  background-color: #0EAD69;
}

@media screen and (max-width: 1600px) {
  body {
    background-color: #3BCEAC;
  }
}
@media screen and (max-width: 1280px) {
  body {
    background-color: #FFD23F;
  }
}
@media screen and (max-width: 960px) {
  body {
    background-color: #EE4266;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: #540D6E;
  }
}


.white {
  color: #ffffff;
}